{#{% load static %}#}
{#<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">#}
{% extends 'base.html' %}
{% load catube_filter %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thread>
            <tr class="table-dark">
                <th> #</th>
                <th> title</th>
                <th> createDate</th>
            </tr>
        </thread>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
            <tr>
            <!-- Number = Sum - startIdx - PresentIdx +1 -->
                <td>
{#                    {{ forloop.counter }}#}
                    {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                </td>
                <td>
                    {#        <li><a href="/catube/{{ question.id }}/">{{ question.subject }}</a></li>#}
                    <a href="{% url 'catube:detail' question.id %}">{{ question.subject }}</a>
                    {% if question.answer_set.count > 0 %}
                    <span class="text-danger small mx-2">{{ question.answer_set.count }}</span>
                    {% endif %}
                </td>
                <td>{{ question.create_date }}</td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No Question. </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- Page 처리 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 page -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}"> previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">previous</a>
        </li>
        {% endif %}
        <!-- Page List -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
        {% if page_number == quesiton_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- Next Page -->
        {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}"> next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> next</a>
            </li>
        {% endif %}
    </ul>
    <a href="{% url 'catube:question_create' %}" class="btn btn-primary"> register question</a>
</div>
{% endblock %}


